extends layout

block content
  

  h1 #{brand.name}

  p #{brand.description}

  hr
  
  div(style='margin-left:20px;margin-top:20px')

    h4 #{brand.name} cars inventory:

    dl 
      each car in brand_cars
        dt 
          a(href=car.url) #{car.fullModelName}
        dd #{car.description}
      
      else
        p The current brand has no cars in our records. 

  hr
    
  if brand.manufacturer
    p #[strong Manufacturer: ] #{brand.manufacturer.name}

  else 
    h4 There is no manufacturer registered for this brand.