extends layout

block content
  

  h1 #{title}: #{brand.name}

  if car.length 
    p #[strong Delete the following cars before attempting to delete this brand]

      h4 Cars: 

      dl 
      each car_unit  in car
        dt 
          a(href=car_unit.url) #{car_unit.fullModelName}
        dd #{car_unit.description}
  
  else 

    p Do you really want to delete this Brand? 

    form.form-control(method='POST' action='')
      input(type='hidden', name='brandid', required='true', value=brand._id)
      button(type='submit') Delete 