extends layout

block content
  h1= title

  h2 Brand: #{brand.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 #{brand.name} cars:

    dl 
      each car in brand_cars
        dt 
          a(href=car.url) #{car.name}
        dd #{car.description}
      
      else
        p The current brand has no cars in our records. 