extends layout

block content
  h1=title 
  
  div(style='margin-left:20px;margin-top:20px')

    p #[strong Brand: ]
      a(href=car.brand.url) #{car.brand.name}
    p #[strong Manufacturer: ]
      a(href=car.manufacturer.url) #{car.manufacturer.name}
    p #[strong Car Body Type: ]
      a(href=car.car_body.url) #{car.car_body.name}
    p #[strong Year: ] #{car.year}
    p #[strong Price: ] #{car.price}$
    p #[strong Description: ] #{car.description}

  hr
  
  h2 Where to find

  
  
  each val in car_instances
    div(style='margin-left:20px;margin-top:20px')
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='On Repair'
        p.text-danger #{val.status}
      else if val.status=='On Loan'
        p.text-warning #{val.status}
      else if val.status=='Reserved'
        p.text-reserved #{val.status}
      else 
        p.text-sold #{val.status}
      p #[strong Authorized Dealer: ] #{val.authorized_dealer}
      if val.status!='Available'
        p #[strong Available on: ] #{val.available}
  else  
    p Currently there are no authorized dealers that sell this vehicle
  
  hr
  p 
    a(href=car.url+'/delete') Delete Car
  p 
    a(href=car.url+'/update') Update Car
  