extends layout

block content
  
    h1 #{carbody.name}

    p #{carbody.description}

    hr

    if carbody_list.length
      div(style='margin-left:20px;margin-top:20px')
        h3 #{carbody.name} cars: 
        each val in carbody_list 
          p
            a(href=val.url) #{val.fullModelName}
    else 
      h5.text-reserved There are no #{carbody.name} cars in our records. 
    
    div.buttons-container
      p 
        a(href=carbody.url+'/delete') Delete Car Body
      p 
        a(href=carbody.url+'/update') Update Car Body