extends layout

block content

  h1 #{title}

  form.form-control(method='POST' action='')
    label(for="car") Car : 
    select(type='select' name='car' required='true')
      each car in car_list
        if carinstance 
          option(value=car._id selected=(car._id.toString()===carinstance.car._id.toString() ? 'selected' : false)) #{car.fullModelName}
        else
          option(value=car._id) #{car.fullModelName}
    label(for="authorized_dealer") Authorized Dealer: 
    input(type='text' name='authorized_dealer' placeholder='i.e New York Car Factory, NY' required='true' value=(undefined===carinstance ? '': carinstance.authorized_dealer)) 
    label(for='status') Status: 
    select(type='select' name='status' required='true' selected=(carinstance._id.toString()))
      option(value='Available' selected=(undefined===carinstance || carinstance.status!= 'Available' ? false : 'selected')) Available
      option(value='On Repair' selected=(undefined===carinstance || carinstance.status!= 'On Repair' ? false : 'selected')) On Repair
      option(value='On Loan' selected=(undefined===carinstance || carinstance.status!= 'On Loan' ? false : 'selected')) On Loan
      option(value='Reserved' selected=(undefined===carinstance || carinstance.status!= 'Reserved' ? false : 'selected')) Reserved
      option(value='Sold' selected=(undefined===carinstance || carinstance.status!= 'Sold' ? false : 'selected')) Sold
    label(for="available") Available on: 
    input(type="date" required='true' name='available') 
    button(type='submit') Submit
   
  if errors 
    ul 
      for error in errors 
        li!= error.msg  