extends layout

block content
  
  

  h1 #{manufacturer.name}

  p #{manufacturer.description}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 #{manufacturer.name} brands inventory:

        
    dl
      each brand in brands 
        dt 
          a(href=brand.url) #{brand.name}

      else
        p The current manufacturer has no brands in our records. 