extends layout

block content
  h1= title
  


  form(method='POST' action='')
    div.form-group
      label(for='name') Name: 
      input(type='text' name='name' placeholder='Hyundai Motor Group, General Motors, etc' required="true")
    div.form-group
      label(for='description') Description: 
      textarea(type='textarea' name='description' placeholder='Give a brief explanation of the manufacturer' required="true")
    div.form-group
      label(for='headquarters') Headquaters: 
      input(type='text' name='headquarters' placeholder='i.e Brooklyn, NY' required="true")
    div.form-group
      label(for='brands') Brands:
      each brand in brand_list
        input(type='checkbox' name='brands' placeholder='Select the brands associated with the manufacturer' value=brand._id)
        label(for=brand._id) #{brand.name}
    button(type='submit') Submit 
  
  if errors 
    ul 
      for error in errors 
        li!= error.msg